*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  
}


a {
  text-decoration: none !important;  
}





.body {
  background-image: url(https://c.tenor.com/eCRrEqQIu4wAAAAC/john-travolta-vincent-vega.gif);
  background-size: 100%;
  width: 100%;
  height: 50vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

}



.btn_not {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgb(252, 125, 7);
  color: rgb(28, 23, 34);
  font-weight: bold;
}

.btn_not:hover {
  background-color: rgb(255, 20, 20);
}

